#cssmenu ul {
    position: fixed;
    width: 100%;
}

.pcontainer {
    display: grid;
    grid-template-areas: 'item1 item2 item3''item4 item5 item6''item7 item7 item7';
}

.pitems {
    height: inherit;
}

.pitems img {
    height: 73%;
}

.onlybig {
    display: block;
}
