body {
    background-color: rgb(58, 56, 56);
}

#cssmenu ul {
    position: fixed;
    top: 0;
    width: 100%;
}

.pcontainer {
    grid-template-areas: 'item1 item2 item3''item4 item5 item6''item7 item7 item7';
    display: grid;
}

.pitems {
    height: inherit;
}

footer div a {
    margin: 15px 10px;
}
#Aboutme {
  text-align: center;
}
#Aboutme p {
  text-align: left;
}
#Aboutme .btn {
  width: 45%;
  font-weight: bold;
  font-family: var(--second-heading);
}

#contact {
  text-indent: 10px;
}
