body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(58, 56, 56);
}

p::selection,
h1::selection,
h2::selection,
h3::selection {
    background-color: black;
    color: white;
}


/* nav section */

#navbar {
    background: white;
    /* height: 8vh; */
}


/* welcome section */

#welcome-section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome-section::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    z-index: -1;
    top: 0;
    background: grey url("/images/my_image0.png") no-repeat center;
    background: url("/images/my_image1.jpg") no-repeat center/contain, linear-gradient(0deg, #641008 0, black);
    background: url("/images/04.png") no-repeat center/contain, linear-gradient(0deg, #641008 0, black);
    /* opacity: .7; */
}

#welcome-section h1 {
    /* background: blanchedalmond; */
    color: white;
    font-size: 2rem;
    position: relative;
    top: 110px;
    text-align: center;
}

#welcome-section p {
    color: rgb(58, 56, 56);
    position: relative;
    top: 80px
}


/* projects section */

#projects {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
     background-color: rgb(58, 56, 56);
    color: white;
    text-align: center;
}

#projects h1 {
    text-align: center;
}

.pcontainer {
    /* background: pink; */
    height: inherit;
}

.pitems {
    /* background: #641008; */
    height: 50%;
    /* border: 1px solid orange; */
    margin: 10px;
}

.pitems h3 {
    text-align: center;
}

.pitems p {
    text-align: center;
}

.pitems img {
    height: 50%;
    width: 100%;
}

.pitems a {
    text-align: center;
    color: white;
    /* background-size: ; */
}


/* Resume */

#resume {
    background-color: rgb(58, 56, 56);
}

#resume h2 {
    text-align: center;
    color: white;
    font-size: 1.8rem;
}

#resume h3 {
    color: white;
    font-size: 1.3rem;
}

#Education {
    display: flex;
    flex-direction: column;
}

.education {
    border: 1px solid rgb(255, 0, 0);
    margin: 10px;
    padding: 13px 15px;
    background: rgb(143, 143, 143);
}


/* .education p::before {
    content: "\e979";

} */


/*About me  */

#Aboutme {
    margin: 0 0 100px 0;
     background-color: rgb(58, 56, 56);
}

#Aboutme h2 {
    color: white;
}

#Aboutme p {
    line-height: 30px;
    /* margin: 0; */
    font-size: 1.3rem;
    color: rgb(143, 143, 143);
}

#aa {
    width: 70px;
    background-color: red;
    color: black;
}

#ab {
    background-color: rgba(175, 175, 175, 0.452);
}

#Aboutme .btn {
    /* border: 1px solid orange; */
    padding: 20px 25px;
    border-radius: 28px;
    text-decoration: none;
    display: inline-block;
    /* width: 120px; */
    color: white;
    margin: 10px 10px;
}


/* CONTACT */
#contact{ background-color: rgb(58, 56, 56);}
#contact h2,
#contact h3 {
    color: white
}

#contact p {
    font-size: 1.2rem;
    color: rgb(165, 165, 165)
}


/* Footer */

footer {
    /* background-color: pink; */
    height: 100px;
    color: white;
     background-color: rgb(58, 56, 56);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer div a {
    margin: 15px 7px;
    border: 2px solid red;
    height: 50px;
    width: 50px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    background-color: red;
    border-radius: 50px;
}

footer div a img {
    height: 50px;
    border-radius: 100%;
    width: 50px;
}
