body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* nav section */

#navbar {
    background: white;
    height: 8vh;
}


/* welcome section */

#welcome-section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome-section::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    z-index: -1;
    top: 0;
    background: grey url("/freecodecamp\ projects/Portfolio\ website/images/my_image0.png") no-repeat center;
    background: url("/freecodecamp\ projects/Portfolio\ website/images/my_image1.jpg") no-repeat center/contain, linear-gradient(0deg, #641008 0, black);
    background: url("/freecodecamp\ projects/Portfolio\ website/images/04.png") no-repeat center/contain, linear-gradient(0deg, #641008 0, black);
    /* opacity: .7; */
}

#welcome-section h1 {
    /* background: blanchedalmond; */
    color: white;
    font-size: 2rem;
    position: relative;
    top: 110px;
    text-align: center;
}

#welcome-section p {
    color: rgb(58, 56, 56);
    position: relative;
    top: 80px
}


/* projects section */

#projects {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    background: #020202d2;
    color: white;
    text-align: center;
}

#projects h1 {
    text-align: center;
}

.pcontainer {
    /* background: pink; */
    height: inherit;
}

.pitems {
    /* background: #641008; */
    height: 50%;
    /* border: 1px solid orange; */
    margin: 10px;
}

.pitems h3 {
    text-align: center;
}

.pitems p {
    text-align: center;
}

.pitems img {
    height: 50%;
    width: 100%;
}

.pitems a {
    text-align: center;
    color: white;
    /* background-size: ; */
}

.onlybig {
    display: none;
}
